In [1]:
import pandas as pd
from education import *

Module users is imported successfully
 Module organizations is imported successfully

In [2]:
school1=organizations.School(name="Serling", address="Ottawa, Canada", phone="555",email="serlingschool@mail.ca")

school1.add_teacher(name="Gracie", familyname="Graves", age=38, gender="female",
                    nationality="Canadian", classroom="402", subject="Mathematics")
school1.add_teacher(name="Emmy", familyname="Bellanchof", age=44, gender="female",
                    nationality="Canadian", classroom="302", subject="Literature")

teacher Gracie Graves added
teacher Emmy Bellanchof added

In [3]:
kids = pd.read_excel('./kids.xlsx')
kids

             name  familyname  age  gender nationality
0          Jessie       McCoy   10    male    Canadian
1           Nancy     Francis   11  female    Canadian
2          Vinnie       Nasta   11    male     Italian
3           Polly     McShane   11  female  Lithuanian
4  Arthur Kenneth  Vanderwall   11    male       Dutch
5          Freddy         Fay   10    male    Canadian
6           Penny       Grant   11  female     English
7      Mary Ellen   Devereaux   10  female    American
8            Joey        Tuna   11    male    Canadian
9          Tillie     Ferillo   11  female    Canadian

In [4]:
for i in range(len(kids.index)):
    k=kids.loc[i]
    sj=[]
    cr='0'
    if k['age']==10:
        sj.extend(["Literature"])
        cr='302'
    elif k['age']==11:
        sj.extend(["Mathematics","Literature"])
        cr='402'
    school1.add_student(name=k['name'], familyname=k['familyname'], age=k['age'], gender=k['gender'],
                        nationality=k['nationality'], classroom=cr, subject=sj)

student Jessie McCoy added
student Nancy Francis added
student Vinnie Nasta added
student Polly McShane added
student Arthur Kenneth Vanderwall added
student Freddy Fay added
student Penny Grant added
student Mary Ellen Devereaux added
student Joey Tuna added
student Tillie Ferillo added

In [5]:
school1.get_info()

{'name': 'Serling',
 'address': 'Ottawa, Canada',
 'phone': '555',
 'email': 'serlingschool@mail.ca',
 'num_stud': 10,
 'num_teachers': 2}

In [6]:
school1.get_report()

Done

In [7]:
school2=organizations.School()
school2.set_name("Carleton")
school2.set_address("Ottawa, Canada")
school2.set_phone("554")
school2.set_email("Carletonschool@mail.ca")
school2.get_info()

{'name': 'Carleton',
 'address': 'Ottawa, Canada',
 'phone': '554',
 'email': 'Carletonschool@mail.ca',
 'num_stud': 0,
 'num_teachers': 0}

In [8]:
t2=organizations.Teacher()
t2.set_name("Stiven")
t2.set_family("Besser")
t2.set_age("55")
t2.set_gender("male")
t2.set_nationality("Canadian")
t2.set_classroom("502")
t2.add_subject("Chemistry")
t2.get_info()

{'name': 'Stiven',
 'familyname': 'Besser',
 'age': '55',
 'gender': 'male',
 'nationality': 'Canadian',
 'classroom': '502',
 'subject': 'Chemistry'}

In [9]:
s2=organizations.Student()
s2.set_name("Sanjay")
s2.set_family("Bakshi")
s2.set_age("12")
s2.set_gender("male")
s2.set_nationality("Indian")
s2.set_classroom("502")
s2.add_subject("Chemistry")
s2.add_subject("Mathematics")
s2.add_subject("Literature")
s2.get_info()

{'name': 'Sanjay',
 'familyname': 'Bakshi',
 'age': '12',
 'gender': 'male',
 'nationality': 'Indian',
 'classroom': '502',
 'subject': ['Chemistry']}

In [10]:
school2.add_student(**s2.get_info())
school2.add_teacher(**t2.get_info())

student Sanjay Bakshi added
teacher Stiven Besser added

In [11]:
school2.get_info()

{'name': 'Carleton',
 'address': 'Ottawa, Canada',
 'phone': '554',
 'email': 'Carletonschool@mail.ca',
 'num_stud': 1,
 'num_teachers': 1}

In [12]:
school2.get_report()

Done

In [13]:
stop autorun

SyntaxError: invalid syntax (Temp/ipykernel_1488/2655275142.py, line 1)

In [14]:
nschool = organizations.School(name="Serling")
nschool.get_info()

teacher Gracie Graves loaded
teacher Emmy Bellanchof loaded
student Jessie McCoy loaded
student Nancy Francis loaded
student Vinnie Nasta loaded
student Polly McShane loaded
student Arthur Kenneth Vanderwall loaded
student Freddy Fay loaded
student Penny Grant loaded
student Mary Ellen Devereaux loaded
student Joey Tuna loaded
student Tillie Ferillo loaded

{'name': 'Serling',
 'address': None,
 'phone': None,
 'email': None,
 'num_stud': 10,
 'num_teachers': 2}

In [15]:
#nschool.set_name("NewSerling") 
nschool.set_address("Ottawa, Canada")
nschool.set_phone("556")
nschool.set_email("serlingschool@mail.ca")
nschool.get_info()

{'name': 'NewSerling',
 'address': 'Ottawa, Canada',
 'phone': '556',
 'email': 'newserlingschool@mail.ca',
 'num_stud': 10,
 'num_teachers': 2}

In [16]:
h=users.Human(name='Jenny',familyname='Glover',age=12,gender='female',nationality='American')
s=users.Student(name=h.name,familyname=h.familyname,age=h.age,gender=h.gender,nationality=h.nationality)
s.get_info()

{'name': 'Jenny',
 'familyname': 'Glover',
 'age': 12,
 'gender': 'female',
 'nationality': 'American',
 'classroom': None,
 'subject': []}

In [17]:
s.set_name("Penny")
s.set_family("Clover")
s.set_classroom("502")
s.add_subject("Literature",'Mathematics','Chemistry')
s.get_info()

{'name': 'Penny',
 'familyname': 'Clover',
 'age': 12,
 'gender': 'female',
 'nationality': 'American',
 'classroom': '502',
 'subject': ['Literature', 'Mathematics', 'Chemistry']}

In [18]:
nschool.add_teacher(**t2.get_info())
nschool.add_student(**s2.get_info())
nschool.add_student(**s.get_info())
nschool.add_student(**s.get_info())

teacher Stiven Besser added
student Sanjay Bakshi added
student Penny Clover added
student Penny Clover not added

In [19]:
nschool.get_report()

Done